
html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: Archivo, sans-serif;
  overflow-x: hidden;
  letter-spacing: 0.45px;
}
* {
  box-sizing: border-box;
  font-family: Archivo, sans-serif;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.mainComponent {
  margin-top: 65px;
}
.MuiDialog-container {
  width: 100%;
}

